<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css.css}"/>
    <title>Nieuw merk</title>
</head>
<body>
<div class="banner">
    <div th:replace="fragments/header :: header">Header</div>


    <div class="row1">
        <div class="row1content">


            <h2>new party</h2>

            <form th:action="@{|/admin/brandnew|}" method="post">

                <div class="venueinfo">
                    <div class="infoLine">
                        <label style="color: white" for="brandName" class="infoLineName">Naam: </label>
                        <input id="brandName" th:field="*{brand.name}" class="infoLineValue">
                    </div>
                    <div class="infoLine">
                        <label style="color: white" for="brandDescription" class="infoLineName">Beschrijving: </label>
                        <input id="brandDescription" th:field="*{brand.description}" class="infoLineValue">
                    </div>
                    <div class="infoLine">
                        <label style="color: white" for="brandIntroduced" class="infoLineName">Geïntroduceerd: </label>
                        <input id="brandIntroduced" th:field="*{brand.introduced}" class="infoLineValue">
                    </div>
                    <div class="infoLine">
                        <label style="color: white" for="brandRecept" class="infoLineName">Bijhorende cocktail ID: </label>
                        <input id="brandRecept" th:field="*{brand.recept}" class="infoLineValue">
                    </div>
                    <div class="infoLine">
                        <a th:href="@{|/brandlist|}"  style="width: 75px;margin-bottom: 20px;margin-top: 20px" class="buttonLookFilter smallButton">cancel</a>
                        <input type="submit" value="create" style="width: 75px" class="buttonLookFilter smallButton">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>