
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: Bahnschrift, sans-serif;
    margin: 0;

}


h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 4em;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
}

p {
    padding: 10px 50px;
}

hr {
    border-color: #EDC7CF;
    width: 70%;
    margin: 5px auto;
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    color: black;
    height: 150px;
}

.freespaceforheader {
    margin: 150px 0 20px 0;
}

.menubuttons {
    display: flex;
    justify-content: center;
}

.list {
    float: left;
}

.row1 {
    display: flex;
    position: relative;
    justify-content: center;
}

.row1 img {
    margin-left: 18%;
}

.row1content {
    flex-grow: 2;
    margin: 0 50px;
}

.filters {
    margin: 15px 20px 0 0;
    float: left;
    width: 25%;
}

.onefilter {
    display: flex;
    margin: 2px 0;
}

.onefilter input {
    margin-left: 3px;
    margin-right: 3px;
}

.onefilter input[type="number" i] {
    width: 5em;
}

.filtername {
    color: white;
    width: 4em;
    text-align: left;
}

.buttonLookFilter {
    background-color: black;
    border: black solid 2px;
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLook {
    background-color: #a4caf3;
    color: #6A8E7F;
}


.buttonLookFilter:hover {
    background-color: grey;
    color: white;
    box-shadow: 3px 4px 5px darkgrey;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("https://t3.ftcdn.net/jpg/01/62/80/10/360_F_162801080_3NGFixTcUYa0d7YIqq4tzDouCISL8Hz1.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    position: absolute;
    margin-top: 200px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    font-weight: 100;
    line-height: 25px;
    margin: 20px auto;
}

.buttonLook:hover {
    background-color: #a4caf3;
    color: black;
    box-shadow: 3px 4px 5px darkgrey;
}
.logincontainer{
    justify-content: center;

}
.buttonLookFilter:active {
    background-color: #E2ED8C;
    color: white;
}

.buttonLook:active {
    background-color: #a4caf3;
    color: #EDC7CF;
}

.ExtraInfo{
    font-size: small;
}

a.mediumButton {
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 400px;
    border: cornflowerblue solid 2px;;
    font-size: 1.2em;
    padding: 1em;
}
.input_container{
    margin-bottom: 30px;
}
a.mediumButton:hover{
    background-color: cornflowerblue;
    color: white;
    box-shadow: 3px 4px 5px grey;
}
.favlist{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}
a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

a.menuButton {
    border: white solid 1px;
    margin: 0 10px;
    width: 8em;
    padding: 0.2em;
    text-align: center;

}
a.menuButton:hover{
    box-shadow: 3px 4px 5px cornflowerblue;
}
h2{
    color: white;
}

.filterButton {
    margin: 20px 0;
    padding: .5em;
    border: none;
    font-size: medium;
}

a.activeFilter {
    background-color: #a4caf3;
    color: #2b3e35;
}

.editButton {
    font-size: 1.2em;
    margin: 50px 0.6em 0 0;
    padding: 1.2em;
    background-color: #8e9dad;
    color: #4c6c5d;
    border-width: 0;
    width: 5em;
    display: inline-block;
}

.editButtonDivNew {
    position: absolute;
    right: 5px;
    top: 48px
}

.info {
    margin: 15px 0;
    font-size: 1em;
    display: flex;

}
h3{
    color: white;
}
.infoName {
    font-size: 1.2em;
    margin: 15px 5px;
    width: 13em;
    color: white;
}

.infoValue {
    font-size: 1em;
    margin: 15px 5px;
    text-align: left;
    max-width: 30%;
    color: white;
}

.foto {
    float: left;
    width: 23%;

}

.foto2 {
    float: right;
    width: 23%;
    margin-right: 0;
}

.abouttext {
    margin-left: 2.5%;
    width: 49%;
    border: 5px solid white;
    text-align: center;
    float: left;
    color: white;
}

.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 160px;
}

.nextButtonDiv {
    position: fixed;
    right: 50%;
    top: 160px;

}

.editButtonDiv {
    position: fixed;
    left: 10px;
    top: 240px
}


.errormessage {
    float: left;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.socials li {
    margin-right: 10px;
}

.fa-facebook {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

.socials a {
    text-decoration: none;
    color: black;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}



