
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: black;
    font-family: Bahnschrift, sans-serif;
    margin: 0;
}


h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 4em;
}

h2 {
    margin: 0 0 10px 0;
    font-size: 2em;
}

p {
    padding: 10px 50px;
}

hr {
    border-color: #EDC7CF;
    width: 70%;
    margin: 5px auto;
}

a {
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
    color: black;
    height: 150px;
}

.freespaceforheader {
    margin: 150px 0 20px 0;
}
.menubuttons {
    display: flex;
}
.list {
    float: left;
}
.row1 {
    display: flex;
    position: relative;
    margin: 20px 0;
}

.row1 img {
    margin-left: 18%;
}

.row1content {
    flex-grow: 2;
    margin: 0 50px;
}

.filters {
    margin: 15px 20px 0 0;
    float: left;
    width: 25%;
}

.onefilter {
    display: flex;
    margin: 2px 0;
}

.onefilter input {
    margin-left: 3px;
    margin-right: 3px;
}

.onefilter input[type="number" i] {
    width: 5em;
}

.filtername {
    width: 4em;
    text-align: right;
}

.buttonLook {
    background-color: #a4caf3;
    color: #6A8E7F;
    border-radius: 50px 20px 0 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 1px darkgrey;
}

.buttonLook:hover {
    background-color: #a4caf3;
    color: black;
box-shadow: 3px 4px 5px darkgrey;
}

.buttonLook:active {
    background-color: #a4caf3;
    color: #EDC7CF;
}
.ExtraInfo {
    font-size: small;
}

a.mediumButton {
    display: block;
    margin: 10px auto;
    height: 100px;
    width: 400px;
    font-size: 1.2em;
    padding: 1em;
}

a.smallButton {
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

a.menuButton {
    margin: 0 10px;
    width: 8em;
    padding: 0.2em;
}
a.homeButton {
    margin: 0 10px 0 410px;
    width: 8em;
    padding: 0.2em;
}

.filterButton {
    margin: 20px 0;
    padding: .5em;
    border: none;
    font-size: medium;
}
a.activeFilter {
    background-color: #a4caf3;
    color: #2b3e35;
}

.editButton {
    font-size: 1.2em;
    margin: 50px 0.6em 0 0;
    padding: 1.2em;
    background-color: #8e9dad;
    color: #4c6c5d;
    border-width: 0;
    width: 5em;
    display: inline-block;
}
.editButtonDivNew{
    position: absolute;
    right: 380px;
    top:48px
}
.info {
    margin: 15px 0;
    font-size: 1em;
    display: flex;
}
.infoName {
    margin: 15px 5px;
    width: 13em;
}

.infoValue {
    font-size: 1.2em;
    margin: 15px 5px;
    text-align: left;
    max-width: 50%;
}
.foto{
    float: left;
    width: 23%;

}
.foto2{
    float: right;
    width: 23%;
    margin-right: 0;
}
.abouttext{
    margin-left: 2.5%;
    width: 49%;
    border: 5px solid black;
    text-align: center;
    float: left;
}

.prevButtonDiv {
    position: fixed;
    left: 10px;
    top: 160px;
}

.nextButtonDiv {
    position: fixed;
    right: 50%;
    top: 160px;

}

.editButtonDiv {
    position: absolute;
    right: 600px;
    top:48px
}


.errormessage{
    float: left;
}


