<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css.css}"/>
    <title>Title</title>
</head>
<body>
<div class="banner">
    <div th:replace="fragments/header"></div>
    <div class="row1">
        <div class="logincontainer">
            <div class="logincontainer">
                <p style="color:white;" class="dialog_text">Registreren is gelukt!</p>
                <a style="color:white;" class="buttonLookFilter smallButton" th:href="|@{/}|">Ga naar home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>