<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css.css}"/>
    <title>About</title>
</head>
<body>
<div class="banner">
<div th:replace="fragments/header :: header">Header</div>
<div class="freespaceforheader"></div>

<img class="foto" th:src="@{/img/historyofgin3.jpg}" src="../static/img/historyofgin3.jpg">
        <div class="abouttext">
        <p>Gin vindt zijn oorsprong waarschijnlijk in likeuren die reeds in de Middeleeuwen werden geproduceerd, met verwijzingen naar een geest gearomatiseerd met "jenever" in een 13e eeuws Vlaams manuscript. In de jaren 1600 begonnen de Nederlanders serieus jenever te produceren, met honderden distilleerderijen in de stad Amsterdam alleen al.<br>
            <span>&#9824;</span> <br> Gin werd, zoals zoveel dingen, oorspronkelijk geproduceerd als medicijn. Als het in voldoende grote hoeveelheden werd geconsumeerd, hielp het waarschijnlijk de perceptie te verbeteren van de symptomen die met een aantal ziektes gepaard gingen, hoewel slechts voor een paar uur per keer. Gin won aan populariteit tijdens de Dertigjarige Oorlog, toen Britse soldaten die op Nederlands grondgebied vochten werden gesterkt met "Dutch Courage" door, ja, gin te drinken.<br>
            <span>&#9824;</span> <br>Het duurde niet lang voordat deze heerlijke drank op grote schaal het Engelse Kanaal overstak. In de tweede helft van de 17e eeuw en de eerste jaren van de 18e eeuw won gin snel aan populariteit in Engeland. Sommige deskundigen schatten dat in 1720 maar liefst een kwart van de huishoudens in Londen zijn eigen gin produceerde.<br><span>&#9824;</span><br>Bepaalde soorten gin kunnen puur of met ijs worden gedronken, zoals Bombay Sapphire, een soort die wordt geproduceerd met niet minder dan 10 "botanicals", waaronder jeneverbes en citroengras. Andere gins zijn perfect geschikt om in cocktails te worden gemengd. Ik denk bijvoorbeeld aan Tanqueray, dat al bijna 200 jaar volgens hetzelfde basisrecept wordt gedistilleerd. En voor de goede orde, dat maakt het een relatieve nieuwkomer. Veel distilleerderijen produceren hetzelfde type gin al sinds het begin van de jaren 1700.
        </p>
    </div>
<img class="foto2" th:src="@{/img/historyofgin2.jpg}" src="../static/img/historyofgin2.jpg">
</div>
</body>
</html>