<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="row1">
    <div class="row1content" th:if="${brand}">
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/branddetails/${brand.id}/prev|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/branddetails/${brand.id}/next|}">&gt;</a>
        </div>

        <h2 th:text="${brand.getName}">branddetails</h2>

        <div class="infoLine">
            <div class="infoLineName">Omschrijving:</div>
            <div class="infoLineValue" th:text="${brand.getDescription()}">omschrijving</div>
        </div>

    </div>
</div>
<div class="row1">
    <div class="row1content">
        <h3>Voorgestelde cocktail? </h3>
        <div class="venuelist">
            <div th:each="recept:${brand.recept}">
                <a class="buttonLook mediumButton" th:href="@{|/receptdetails1/${recept.id}|}">
                    <span th:text="${recept.name}">recept name </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row1">
    <div class="row1content">
        <h3>Terug naar overzicht? </h3>
        <div class="venuelist">
<a class="buttonLook mediumButton"
   th:href="@{|/brandlist|}"
>Merken</a>
    </div>
    </div>
</div>
<div class="row1">
    <div class="row1content" th:unless="${brand}">
        <p>Er is geen merk gekozen</p>
    </div>
</div>
</div>

</body>
</html>