<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css.css}" href="../static/css.css"/>
    <title>Cocktail</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="row1">
    <div class="row1content" th:if="${recept}">
        <div class="prevButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/receptdetails1/${recept.id}/prev|}">&lt;</a>
        </div>
        <div class="nextButtonDiv">
            <a class="buttonLook smallButton" th:href="@{|/receptdetails1/${recept.id}/next|}">&gt;</a>
        </div>
        <h2 th:text="${recept.getName}">receptdetails</h2>
        <div class="info">
            <div class="infoName">Produce:</div>
            <div class="infoValue" th:text="${recept.getProduce()}">produce</div>
        </div>
        <div class="info">
            <div class="infoName">Condiments:</div>
            <div class="infoValue" th:text="${recept.getCondiments()}">condiments</div>
        </div>
        <div class="info">
            <div class="infoName">Baking and Spices:</div>
            <div class="infoValue" th:text="${recept.getBakingAndSpices()}">bakingNspices</div>
        </div>
        <div class="info">
            <div class="infoName">Liquids:</div>
            <div class="infoValue" th:text="${recept.getLiquids()}">liquids</div>
        </div>
        <div class="info">
            <div class="infoName">Price:</div>
            <div class="infoValue" th:text="${recept.getPrice()}">Price</div>
        </div>
    </div>
</div>
<div class="row1">
    <div class="row1content">
        <h3>Terug naar overzicht? </h3>
        <div class="list">
            <a class="buttonLookFilter smallButton"
               th:href="@{|/receptenlist|}"
            >Cocktails</a>
        </div>
    </div>
</div>
<div class="row1">
    <div class="row1content" th:unless="${recept}">
        <p>Er is geen recept gekozen</p>
    </div>
</div>
</div>
</body>
</html>